.data-recapitulation, .data-recapitulation * {
    box-sizing: border-box;
    }
.data-recapitulation {
   background: #ffffff;
   width: 360px;
    height: 800px;
   
           position: relative;
   
       overflow: hidden;
   }

.rectangle-189 {
   background: #f8ffdb;
   width: 360px;
    height: 120px;
   
           position: absolute;
    left: 0px;
   top: 0px;
   
       }

.rectangle-190 {
   background: #7bc74d;
   width: 360px;
    height: 95px;
   
           position: absolute;
    left: 0px;
   top: 0px;
   
       }

.vector {
   height: auto;
   
           position: absolute;
    right: 91.39%;
    left: 4.17%;
    width: 4.44%;
   bottom: 93.38%;
    top: 4.62%;
    height: 2%;
   
       overflow: visible;
   }

.data-rekap {
   color: #ffffff;
   text-align: center;
   font: 700 20px 'Inter-Bold', sans-serif;
   
           position: absolute;
    left: calc(50% - 78px);
   bottom: 92.38%;
    top: 4.25%;
    height: 3.38%;
   
       width: 157px;
   }

.rectangle-1486 {
   background: #ffffff;
   border-radius: 5px;
   width: 300px;
    height: 379px;
   
           position: absolute;
    left: calc(50% - 147px);
   top: 147px;
   
       box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }

.rectangle-1487 {
   background: #ffffff;
   border-radius: 5px;
   width: 300px;
    height: 144px;
   
           position: absolute;
    left: 33px;
   top: 577px;
   
       box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }

._26-10-2023-03-11-2023 {
   color: #000000;
   text-align: left;
   font: 400 5px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 51px;
   top: 504px;
   
       }

._11-11-2023-18-11-2023 {
   color: #000000;
   text-align: left;
   font: 400 5px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 121px;
   top: 504px;
   
       }

._18-11-2023-25-11-2023 {
   color: #000000;
   text-align: left;
   font: 400 5px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 188px;
   top: 504px;
   
       }

._25-11-2023-02-12-2023 {
   color: #000000;
   text-align: left;
   font: 400 5px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 256px;
   top: 504px;
   
       }

.rectangle-1488 {
   background: #dfff1a;
   border-radius: 40px;
   width: 8px;
    height: 274px;
   
           position: absolute;
    left: 73px;
   top: 223px;
   
       }

.rectangle-1489 {
   background: #3f9b6f;
   border-radius: 40px;
   width: 8px;
    height: 124px;
   
           position: absolute;
    left: 85px;
   top: 373px;
   
       }

.rectangle-14882 {
   background: #dfff1a;
   border-radius: 40px;
   width: 8px;
    height: 103px;
   
           position: absolute;
    left: 138px;
   top: 394px;
   
       }

.rectangle-14892 {
   background: #3f9b6f;
   border-radius: 40px;
   width: 8px;
    height: 172px;
   
           position: absolute;
    left: 150px;
   top: 325px;
   
       }

.rectangle-14883 {
   background: #dfff1a;
   border-radius: 40px;
   width: 8px;
    height: 294px;
   
           position: absolute;
    left: 203px;
   top: 203px;
   
       }

.rectangle-14893 {
   background: #3f9b6f;
   border-radius: 40px;
   width: 8px;
    height: 198px;
   
           position: absolute;
    left: 215px;
   top: 299px;
   
       }

.rectangle-14884 {
   background: #dfff1a;
   border-radius: 40px;
   width: 8px;
    height: 219px;
   
           position: absolute;
    left: 268px;
   top: 278px;
   
       }

.rectangle-14894 {
   background: #3f9b6f;
   border-radius: 40px;
   width: 8px;
    height: 305px;
   
           position: absolute;
    left: 280px;
   top: 192px;
   
       }

.keterangan {
   color: #000000;
   text-align: left;
   font: 400 12px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 52px;
   top: 591px;
   
       }

.ellipse-17 {
   width: 16px;
    height: 16px;
   
           position: absolute;
    left: 51px;
   top: 622px;
   
       overflow: visible;
   }

.ellipse-18 {
   width: 16px;
    height: 16px;
   
           position: absolute;
    left: 51px;
   top: 664px;
   
       overflow: visible;
   }

.menunjukan-banyak-mahasiswa-yang-performasi-nya-tidak-memenuhi-standar {
   color: #000000;
   text-align: left;
   font: 400 11px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 77px;
   top: 619px;
   
       width: 222px;
    height: 29px;
   }

.menunjukan-banyak-mahasiswa-yang-memenuhi-standar-performa {
   color: #000000;
   text-align: left;
   font: 400 11px 'Inter-Regular', sans-serif;
   
           position: absolute;
    left: 77px;
   top: 661px;
   
       width: 222px;
    height: 29px;
   }

