.login, .login * {
   box-sizing: border-box;
   }
.login {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1.00) 0%,rgba(248, 255, 219, 1.00) 61.45833134651184%);
  width: 360px;
   height: 800px;
  
          position: relative;
  
      overflow: hidden;
  }

.union {
  width: 360px;
   height: 345px;
  
          position: absolute;
   left: 0px;
  top: -6px;
  
      overflow: visible;
  }

.rectangle-21 {
  background: #ffffff;
  border-radius: 10px;
  width: 307px;
   height: 48px;
   padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 15px;
  font: 700 20px/21px 'Lora-Bold', sans-serif;
  
          position: absolute;
   left: 28px;
  top: 484px;
  
      box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.rectangle-22 {
  background: #ffffff;
  border-radius: 10px;
  width: 307px;
   height: 48px;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 12px;
   padding-bottom: 15px;
   font: 700 20px/21px 'Lora-Bold', sans-serif;
   
          position: absolute;
   left: 28px;
  top: 574px;
  
      box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.username {
  color: #eeeeee;
  text-align: center;
  font: 700 20px/21px 'Lora-Bold', sans-serif;
  
          position: absolute;
   left: 44px;
  top: 496px;
  
      }

.password {
  color: #eeeeee;
  text-align: center;
  font: 700 20px/21px 'Lora-Bold', sans-serif;
  
          position: absolute;
   left: 46px;
  top: 586px;
  
      }

.login2 {
  color: #000000;
  text-align: center;
  font: 700 24px 'PlayfairDisplay-Bold', sans-serif;
  
          position: absolute;
   left: calc(50% - 136px);
  top: 357px;
  
      width: 273px;
   height: 63px;
  display: flex;
  
align-items: center;
  justify-content: center}

.silakan-masuk-dengan-akun-anda-untuk-memulai {
  color: #000000;
  text-align: center;
  font: 400 12px 'Marcellus-Regular', sans-serif;
  
          position: absolute;
   left: calc(50% - 105px);
  top: 404px;
  
      width: 210px;
   height: 63px;
  display: flex;
  
align-items: center;
  justify-content: center}

.rectangle-23 {
  background: #7bc74d;
  border-radius: 20px;
  width: 140px;
   height: 44px;
  
          position: absolute;
   left: calc(50% - 68px);
  top: 694px;
  
      box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.masuk {
  color: #ffffff;
  text-align: center;
  font: 700 15px 'Lora-Bold', sans-serif;
  
          position: absolute;
   left: 157px;
  top: 705px;
  
      width: 49px;
   height: 22px;
  display: flex;
  
align-items: center;
  justify-content: center}

.fa-solid-user-edit {
  width: 26px;
   height: 26px;
  
          position: absolute;
   right: 43px;
  top: 494px;
  
      overflow: visible;
  }

.icon-park-solid-lock {
  width: 25px;
   height: 27px;
  
          position: absolute;
   left: 291px;
  top: 583px;
  
      overflow: hidden;
  }

.mask-group {
  height: auto;
  
          position: absolute;
   left: 3.12px;
  top: 2.25px;
  
      overflow: visible;
  }


