.log-out,
.log-out * {
  box-sizing: border-box;
}
.log-out {
  background: rgba(248, 255, 219, 0.41);
  width: 360px;
  height: 800px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-1494 {
  width: 360px;
  height: 227px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-4 {
  border-radius: 50%;
  width: 133px;
  height: 133px;
  position: absolute;
  right: 19px;
  top: 128px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-1495 {
  background: #7bc74d;
  border-radius: 5px;
  width: 171px;
  height: 33px;
  position: absolute;
  left: 9px;
  top: 181px;
}
.irsyadul-basyar {
  color: #ffffff;
  text-align: center;
  font: 700 16px/21px "Nunito-Bold", sans-serif;
  position: absolute;
  left: 40px;
  top: 187px;
}
.rectangle-1496 {
  background: #eeeeee;
  border-radius: 5px;
  width: 301px;
  height: 387px;
  position: absolute;
  left: calc(50% - 150px);
  top: 299px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.informasi-personal {
  color: #000000;
  text-align: center;
  font: 700 16px/21px "Nunito-Bold", sans-serif;
  position: absolute;
  left: 45px;
  top: 317px;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.rectangle-1497 {
  background: #f6f6f6;
  border-radius: 8px;
  width: 270px;
  height: 37px;
  position: absolute;
  left: calc(50% - 135px);
  top: 377px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nama-lengkap {
  color: #7bc74d;
  text-align: left;
  font: 500 12px "Inter-Medium", sans-serif;
  position: absolute;
  right: 61.11%;
  left: 13.33%;
  width: 25.56%;
  bottom: 53.37%;
  top: 44.75%;
  height: 1.88%;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.rectangle-1498 {
  background: #f6f6f6;
  border-radius: 8px;
  width: 270px;
  height: 37px;
  position: absolute;
  left: calc(50% - 135px);
  top: 444px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.email {
  color: #7bc74d;
  text-align: left;
  font: 500 12px "Inter-Medium", sans-serif;
  position: absolute;
  right: 76.39%;
  left: 13.33%;
  width: 10.28%;
  bottom: 44.5%;
  top: 53.62%;
  height: 1.88%;
}
.group-25 {
  position: absolute;
  inset: 0;
}
.rectangle-14982 {
  background: #f6f6f6;
  border-radius: 8px;
  width: 270px;
  height: 37px;
  position: absolute;
  left: calc(50% - 135px);
  top: 511px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nomor-telepon {
  color: #7bc74d;
  text-align: left;
  font: 500 12px "Inter-Medium", sans-serif;
  position: absolute;
  right: 60.56%;
  left: 13.33%;
  width: 26.11%;
  bottom: 36.12%;
  top: 62%;
  height: 1.88%;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.rectangle-14983 {
  background: #f6f6f6;
  border-radius: 8px;
  width: 270px;
  height: 64px;
  position: absolute;
  left: calc(50% - 135px);
  top: 578px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.alamat {
  color: #7bc74d;
  text-align: left;
  font: 500 12px "Inter-Medium", sans-serif;
  position: absolute;
  right: 73.61%;
  left: 13.33%;
  width: 13.06%;
  bottom: 27.75%;
  top: 70.38%;
  height: 1.88%;
}
.irsyadul-basyar-syam {
  color: #000000;
  text-align: center;
  font: 500 12px/21px "Nunito-Medium", sans-serif;
  position: absolute;
  left: 53px;
  top: 385px;
}
.sadulkeren-23-gmail-com {
  color: #000000;
  text-align: center;
  font: 500 12px/21px "Nunito-Medium", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 53px;
  top: 452px;
}
._082100567815 {
  color: #000000;
  text-align: center;
  font: 500 12px/21px "Nunito-Medium", sans-serif;
  position: absolute;
  left: 53px;
  top: 519px;
}
.jl-sukabirus-no-44-desa-citeureup-kecamatan-dayeuhkolot-kabupaten-bandung {
  color: #000000;
  text-align: left;
  font: 500 12px/21px "Nunito-Medium", sans-serif;
  position: absolute;
  left: 53px;
  top: 586px;
  width: 256px;
}
.rectangle-1485 {
  background: #7bc74d;
  border-radius: 5px;
  width: 111px;
  height: 32px;
  position: absolute;
  left: calc(50% - 55px);
  top: 733px;
}
.keluar {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Lora-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 22px);
  top: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2605 {
  position: absolute;
  inset: 0;
}
.rectangle-314 {
  background: #ffffff;
  border-radius: 14px;
  width: 313px;
  height: 279px;
  position: absolute;
  left: 22px;
  top: 353px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.group {
  width: 121px;
  height: 117px;
  position: absolute;
  right: 33.61%;
  left: 32.78%;
  width: 33.61%;
  bottom: 34.62%;
  top: 50.75%;
  height: 14.62%;
  overflow: visible;
}
.berhasil-keluar-dari-my-su {
  color: #000000;
  text-align: center;
  font: 700 15px "Inter-Bold", sans-serif;
  position: absolute;
  left: 58px;
  top: 551px;
  width: 241px;
  height: 46px;
}
