<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="CSS/Data Rekap versi 2.css">
</head>
<body>
 <div class="data-recapitulation" >
    <div class="rectangle-189" >
    </div>
    <div class="rectangle-190" >
    </div>
    <svg class="vector" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 16L0 8L8 0L9.425 1.4L3.825 7H16V9H3.825L9.425 14.6L8 16Z" fill="white"/>
    </svg>
    <div class="data-rekap" >
Data Rekap </div>
    <div class="rectangle-1486" >
    </div>
    <div class="rectangle-1487" >
    </div>
    <div class="keterangan" >
Keterangan </div>
    <div class="ellipse-13" >
    </div>
    <div class="ellipse-14" >
    </div>
    <svg class="ellipse-16" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z" fill="#3F9B6F"/>
    </svg>
    <svg class="ellipse-17" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z" fill="#DFFF1A"/>
    </svg>
    <div class="performa-mahasiswa-yang-memenuhi-standar" >
Performa Mahasiswa yang memenuhi standar </div>
    <div class="performa-mahasiswa-yang-tidak-memenuhi-standar" >
Performa Mahasiswa yang tidak memenuhi standar </div>
    <div class="untuk-mahasiswa-yang-performa-nya-tidak-memenuhi-standar-dikarenakan" >
Untuk mahasiswa yang performa nya tidak memenuhi standar dikarenakan.......... </div>
</div>
</body>
</html>