<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="CSS/User Management (1).css">
</head>
<body>
    <div class="user-management">
        <div class="rectangle-1492"></div>
        <svg
          class="subtract"
          width="325"
          height="100"
          viewBox="0 0 325 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20 0C8.95431 0 0 8.9543 0 20V80C0 91.0457 8.9543 100 20 100H93V78H232V100H305C316.046 100 325 91.0457 325 80V20C325 8.95431 316.046 0 305 0H20Z"
            fill="#F8FFDB"
          />
        </svg>
      
        <div class="group-18">
          <img class="ellipse-4" src="Image/ellipse 4(1).png" />
        </div>
        <svg
          class="vector"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 16L0 8L8 0L9.425 1.4L3.825 7H16V9H3.825L9.425 14.6L8 16Z"
            fill="white"
          />
        </svg>
      
        <div class="_24-x-7-access">24x7 Access</div>
        <div class="rectangle-1490"></div>
        <div class="mr-irsyadul-basyar">Mr Irsyadul Basyar</div>
        <div class="group-23">
          <input class="rectangle-1497">
          <div class="nama-lengkap">Nama Lengkap*</div>
        </div>
        <div class="group-2613">
          <div class="group-24">
            <select class="rectangle-14972">
              <option value="Penghuni">Penghuni</option>
              <option value="Pembina">Pembina</option>
              <option value="Ketua">Ketua</option>
            </select>
            <div class="hak-akses">Hak Akses*</div>
          </div>
        </div>
        <div class="group-2614">
          <div class="group-26">
            <input class="rectangle-14973">
            <div class="peran">Username*</div>
          </div>
          
        </div>
        <div class="group-2615">
          <div class="group-27">
            <input class="rectangle-14974">
            <div class="status">Password*</div>
          </div>
          
        </div>
        
        <div class="group-2622">
          <input type="submit" value="" class="rectangle-1485">
          <div class="apply">Apply</div>
        </div>
      </div>
      
</body>
</html>